@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

h1 {
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.lead {
  color: #555;
  margin-bottom: 20px;
}

.btn-primary {
  width: 100%;
  background-color: #4caf50;
  border-color: #4caf50;
}

.btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

#message {
  font-weight: bold;
  margin-top: 20px;
  color: #333;
}
